body {
background:  rgb(241, 179, 204);
font: normal 15pt Arial;
}
header { color:white;
    text-align:center;

}
section{
    background-color: rgb(230, 142, 183);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 10px rgb rgb(0, 0, 15)
}
footer{ color:white;
    text-align: center;
    font-style: italic;

}