body {
background:  rgb(239, 188, 209);
font: normal 18pt comic sans MS;
}
header { color:rgb(245, 135, 177);
    text-align:center;
    

}
section{
    background-color: rgb(180, 92, 133);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 10px rgb rgb(16, 16, 16)
}
footer{ color:rgb(248, 100, 167);
    text-align: center;
    font-style: italic;

}